/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


#loader {
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

.hidden {
  display: none;
}